
/* SweetAlert buttons styles */
/* .swal-button {
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.swal-button.cancel {
    background-color: #ddd;
}

.swal-button.confirm {
    background-color: #007bff;
    color: #fff;
} */